.box{
    display: inline-block;
    width: 250px;
    height: 200px;
    margin: 19px 29px;
}

.product-image{
    border-radius: 10px 10px 0px 0px;
}

.boxmini{
    margin: 3px 0px;
    width: 146px;
    font-size: 20px;
    line-height: 33px;
    top: 190px;
    color: #000000;
    text-align: left;
}

.boxharga{
    margin: 12px 0px;
    width: 146px;
    height: 100px;
    font-size: 20px;
    line-height: 33px;
    top: 210px;
    color: #000000;
    text-align: left;
}
.tombol{
    text-align: center;
    margin-top: 15px;

}

.btn_btn1{
    border: 1px solid rgb(56, 56, 240);
    background-color: rgb(42, 226, 42);
    padding: 10px 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    width: fit-content;
    
}

.btn_btn2{
    border: 1px solid rgb(56, 56, 240);
    background-color: rgb(226, 46, 23);
    padding: 10px 20px;
    font-size: 20px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    width: fit-content;
    
}