body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: powderblue;
    background-size: cover;
}

.login_box{
    font-size: medium;
    font-family: monospace;
    font-style: normal;
    width: 280px;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: purple;
}

.login_box h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid;
    margin-bottom: 50px;
    padding: 13px 0;

}

.textbox{
    width:100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid purple;
}

.textbox input{
    border: 0;
    outline: none;
    background: none;
    color:purple;
    font-size: 15px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

.btn{
    width: 100%;
    background: rgb(240, 207, 157);
    border: 2px solid rgb(143, 20, 143);
    color: purple;
    font-size: 16px;
    cursor: pointer;
    margin: 12px 0;
}