.rectangle_product{
    background: center;
    background-color: rgba(190, 195, 202, 0.3);
    width: auto;
    height: 1550px;
    margin-left: 109px;
    margin-right: 350px;
    padding: 10px;
}

