.main-app{
  position: relative;
}

.navbar{
    width: auto;
    height: 100px;
    margin-right: 350px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.navbar li{
  list-style: none;
}

.menu{
    position: absolute;
    width: 35.35px;
    height: 35px;
    left: 31.31px;
    top: 34px;

  
}
.navbar_logo{
  position: absolute;
  width: 278.78px;
  height: 31px;
  left: 300px;
  top: 34px;
  font-family: Airbnb Cereal App;
  font-size: 30px;
  line-height: 39px;
  color: #000000;
}

.navbar_cart{
  position: absolute;
  width: 350px;
  height: 100px;
  right: 0;
  top: 0px;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25)
}

.navbar_keranjang{
  position: absolute;
  width: 125px;
  height: 50px;
  left: 145px;
  top: 40px;

  font-family: Airbnb Cereal App;
  font-size: 25px;
  line-height: 33px;

  color: #000000;
}

.search{
  width: 200px;
  padding: 5px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  text-align: left;
  color: black;
  background-color: rgba(194, 191, 191, 0.884);
  margin-right: 400px;
  display: inline-block;
  position: absolute;
  left:650px;
  top: 38px;
}
.icon_search{
  position: absolute;
  width: 15px;
  height: 35px;
  left: 825px;
  top: 34px;
}
*{
  margin:0px;
  padding:0px;
  font-family: sans-serif;
}
#left-sidebar{
  position: absolute;
  width: 109px;
  height: 1550px;
  left: 0px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.25);
  display: flex;
}
.fork{
  position: absolute;
  width: 44.04px;
  height: 40.61px;
  left: 28.63px;
  top: 30px;
}
.report{
  position: absolute;
  width: 55.05px;
  height: 50.76px;
  left: 25.32px;
  top: 100px;
}
.add{
  position: absolute;
  width: 55.05px;
  height: 50.76px;
  left: 25.32px;
  top: 180px;
}
.logout{
  position: absolute;
  width: 55.05px;
  height: 50.76px;
  left: 25.32px;
  top: 260px;
}

#right-sidebar{
  position: absolute;
  width: 350px;
  height: 1650px;
  top: 0;
  right: 0px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.25);
  display: flex;
}

.cart-content{
  position: absolute;
  top: 5%;
  margin: 20px;
}

.cart-content > button{
  margin: 20px
}

.added-products{
  margin: 10px 0px;
}

#plus-cart{
  margin: 10px 5px 10px 10px;
}

#minus-cart{
  margin: 10px 10px 10px 5px;
}